html,
body {
  margin: 0;
  height: 100vh;
  width: 100vw;
}

.container,
.threeboxes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
  padding: 50px 0px;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  border: solid black 1px;
  background-color: #ff0000;
  background-color: #ffac00;
  background-color: #fff100;
  background-color: #0bff00;
  background-color: #00f6ff;
  background-color: #222222;
}

img {
  height: 80%;
  width: auto;
}
