html,
body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-color: #222222;
  font-family: "Pixelify Sans";
}
.threeboxes-container,
.container,
.threeboxes {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
  width: 100vw;
  padding: 1% 0%;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: antiquewhite;
}
.threeboxes-container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
  padding: 7%;
  box-sizing: border-box;
  border: solid black 1px;
  background-color: #ff0000;
  background-color: #ffac00;
  background-color: #fff100;
  background-color: #0bff00;
  background-color: #00f6ff;
  background-color: #222222;
}

img {
  position: absolute;
  height: 80%;
  width: auto;
}
.buttons {
  display: flex;
  flex-direction: row;
  margin: 1%;
  justify-content: center;
}

button {
  font-family: "Pixelify Sans";
  border-radius: 1px;
  outline: none;

  color: black;
  padding: 5%;
  margin: 3%;
}
a {
  font-family: "Pixelify Sans";
  text-decoration: none;
  color: antiquewhite;
}

@media screen and (max-width: 420px) {
  .box {
    height: 15%;
    padding: 15%;
  }
}
