html,
body {
  margin: 0;
  height: 100vh;
  width: 100vw;
}

.container,
.threeboxes {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  height: 100vh;
  width: 100vw;
  padding: 1% 0%;
}

.box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
  padding: 7%;
  box-sizing: border-box;
  border: solid black 1px;
  background-color: #ff0000;
  background-color: #ffac00;
  background-color: #fff100;
  background-color: #0bff00;
  background-color: #00f6ff;
  background-color: #222222;
}

img {
  position: absolute;
  height: 80%;
  width: auto;
}
.buttons {
  display: flex;
  flex-direction: row;
}

button {
  padding: 1%;
  margin: 1%;
}

@media screen and (max-width: 420px) {
  .box {
    width: 23%;
    padding: 23%;
  }
}
